<h1>このへんに成功したよってメッセージ出す</h1>　<!--方法要検索-->

<p>Title:<%= @book.title %></p>
<p>Body:<%= @book.body %></p>

<%= link_to 'Edit', edit_book_path(@book.id) %> <!-- 書かなくても問題ないけど書けるなら明示的に引数を書く-->
| <!-- ただ打つだけでテキスト表示できるのか...気づかなかった-->
<%= link_to 'Back', books_path %>