<h1>このへんに成功したよってメッセージ出す</h1>　<!--技術要検索-->

<p>Title:<%= @book.title %></p>
<p>Body:<%= @book.body %></p>

<%= link_to 'Edit', edit_book_path %> <!--edit実装前に押したら同一:idのeditに飛んだけど、この:idどこから引っ張ってきた？-->
 | <!-- ただ打つだけでテキスト表示できるのか...初めて知った-->
<%= link_to 'Back', books_path %>